#vantajs {
  width: auto; height: auto; margin-bottom: 10px;
}

.card {
  background-color: rgba(203,240,171,.2);
  backdrop-filter: blur(6px);
  margin-top: 2.5em;
  text-align: center;
}

.card-title {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .75rem;
}

a {
  color: #2F4858;
  text-decoration: none;
}